@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300&display=swap");
.style{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    font-size: 2rem;
 font-family: 'Roboto';
}

.style img{margin-top: 2rem;}