@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap");
nav {
  width: 100%;
  z-index: 10;
  position: relative;
}
.burger {
  background-color: transparent;
  border-style: none;
  border: 0.1rem solid rgba(255, 255, 255, 0.845);
  padding: 0.4rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger:hover{
    cursor: pointer;
    border: 0.1rem solid rgba(255, 255, 255, 0.845);
}
nav i {
  font-size: 2.5rem;
  width: 3.5rem;
  color: rgba(255, 255, 255, 0.502);
}

.logo p {
  font-family: "Russo One", sans-serif;
  font-style: normal;
  font-size: 1.9rem;
  letter-spacing: 0.1rem;
}

.menutop {
  height: 6.11rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
  background-color: #22a87e;
  color: white;
  z-index: 100;
}

/* MENU */

.close {
  background-color: #22a87e;
  color: white;
  position: fixed;
  left: 0;
  top: 6rem;
  width: 100%;
  transform: translatey(-170%);
  transition: all 1s ease;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -6;
  padding-top: 1.5rem;
}

.close.open {
  position: absolute;
  width: 100%;
  /* height: 44rem; */
  transform: translatey(0%);
  border-bottom: 0.1rem solid white;
}

.menuitems {
    width:15rem;
    color:white;
    background-color: transparent;
    border-style: none;;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  padding: 3.4rem;
  text-align: center;
}
.menuitems:hover {
    transition: all 0.3s ease;
  color: #283c42;
 
}

a,
a:active {
  color: white;
  text-decoration: none;
}
.menudesktop{
    display:none;
}


@media  screen and (min-width: 800px){
    .menumobile{
        display:none;
    }
    .menudesktop {
        display: inline-block;
    }
    .menudesktop ul{
        font-family: "Roboto", sans-serif;
        display:flex;
        list-style: none;
        font-size: 1.4rem;
    }
    .menudesktop li{
        text-align: center;
        /* border:1px solid red; */
        /* width:20rem; */
        padding:3.5rem;
        color:white;
    }
    .menudesktop li:hover{
        transition: all 0.3s ease;
        color: #283c42;
    }

}